<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h2 th:text="'User Registration'">registration</h2>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <div>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" th:field="*{firstName}">
            <p th:each="error : ${#fields.hasErrors('firstName')}" th:text="error">error</p>
        </div>
        <div>
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" th:field="*{lastName}">
            <p th:each="error : ${#fields.hasErrors('lastName')}" th:text="error">error</p>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" th:field="*{email}">
            <p th:each="error : ${#fields.hasErrors('email')}" th:text="error">error</p>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" th:field="*{password}">
            <p th:each="error : ${#fields.hasErrors('password')}" th:text="error">error</p>
        </div>
        <button type="submit">Submit</button>
    </form>
    <span th:utext="${successMessage}">success</span>
    <br>
    <a th:href="@{/login}">Login</a>
</body>
</html>